.hero-header {
  padding: 0.7rem 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(254, 255, 216);
}

.button-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  padding-right: 3rem;
}
.signout {
  padding: 0.4rem 0.9rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #fc6e04;
  color: white;
}
@media (max-width: 768px) {
  .button-flex {
    gap: 0rem;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 1rem;
  }

  .signedOut-text {
    font-size: 13px;
  }
}
